body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px dotted red;
    display: flex;
}

li {
    border: 1px solid #999;
    margin: 0.5em;
    padding: 0.5em;
}
.BoxesALEX {
    display:flex;
    flex-wrap: wrap;
    padding: 3px;
    border: 5px solid black;
    margin: 2px;
    align-items:center;
    justify-content: center;
}
.box {
    flex :1 1 30%;
    background-color: maroon;
    height:100%;
    margin: 1% 1%;
}
.Boxes {
    color: black;
    padding: 4px;
    display: flex;
    flex-flow: row wrap;
    border: 5px solid black;
    margin: 2px;
    justify-content: center;
}

.box1 {
    background: yellow;
    margin:1% 1%;
    flex: 0 0 15%;
}

.box2 {
    background: red;
    margin:1% 1%;
    flex: 0 0 15%;

}

.box3 {
    background: wheat;
    margin:1% 1%;
    flex: 0 0 15%;
}

.box4 {
    background: blue;
    margin-right: 4px
}

.box5 {
    background: blueviolet;
    margin-right: 4px
}

@media only screen and (max-width: 600px) {
    .box1 {
        background-color: lightblue;
        flex:0 0 44%

    }

    .box2 {
        background-color: limegreen;
        flex:0 0 44%
    }

    .box3 {
        background-color: green;
        flex: 0 0 92%;
        text-align: center;
    }
    .box {
        flex: 1 0 48%;
    }
}