* {
    box-sizing: border-box
}

article {
    display: block;
}

body,
html {
    height: 100%
}

section {
    display: block
}

h1 {
    display: block
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.mainTitle {
    text-align: center;
    font: 200 50px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, .1);
    margin: 7px;
    padding: 5px
}
/* // margin top bottom / left right ( 2 valori )
4 valori -> clockwisse */
.article-title {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    font-style: bold, italic
}

.content {
    display: flex;
    width: 100%;
    align-items: stretch;
    border-left: 1px solid #000;
    border-top: 1px solid black;
    border-bottom: 3px solid black;
}

.textBox {
    border-right: 1px solid #000;
    padding: 0 10px;
    font-size: 20px
}

.quarter {
    width: 25%
}

.half {
    width: 50%;
}

.articleImage {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.seventyPercent {
    width: 75%;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.differentSections {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.siteSection {
    display: flex;
    align-items: center;
    flex: 1;
}

.someLink {
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding-left: 30px;
    font-weight: bold;
    font-family: "Futura";
    color: black
}

.Politics {
    background-color: rgb(172, 121, 27);
}

.Tech {
    background-color: rgb(29, 179, 146);
}

.News {
    background-color: rgb(43, 18, 184);
}

.Sports {
    background-color: rgb(169, 224, 194);
}

.Other {
    background-color: rgb(67, 33, 85);
}

.shoppingCartImage {
    width: 30px;
    height: 35px;
    flex-direction: row-reverse;
    float: right;
    position: relative;
}

.shoppingCartImage:hover {
    background-color: #000
}

.flexWrapper {
    display: flex;
    justify-content: space-between;
    padding: 5px
}